{% extends "mainpage/wrapper.html" %}
{% block content %}

<form action="" method="post">{% csrf_token %}
    <h4>Введите ваш email:</h4>
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-outline-success btn-lg" value="Reset password" />
</form>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
  $("input").addClass("form-control")
  $(".btn-outline-success").removeClass("form-control")
</script>

{% endblock %}
